.feed-form {
    .email {
        margin-bottom: 1rem;
        width: 100%;
        background: #111;
        padding: 1.2rem;
        font-size: 1.5rem;
        color: #fff;
        text-transform: none;
    }
}