.container {
    position: relative;
    max-width: 70rem;
    width: 100%;
    padding: 2.5rem;
    border: 0.2rem solid #ff0000;
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    color: white;
    &:hover {
        box-shadow: 0 0 6rem #ff0000;
    }
}
.container header {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
}
.register {
    &__form {
        margin-top: 3rem;
        .column {
            display: flex;
            column-gap: 1.5rem;
        }
        &__box {
            position: relative;
            width: 100%;
            margin: 1.5rem 0;
            border-bottom: .2rem solid #fff;
            .icon {
                position: absolute;
                right: .4rem;
                top: -.5rem;
                font-size: 1.9rem;
            }
            input {
                width: 100%;
                height: 100%;
                background: transparent;
                border: none;
                outline: none;
                font-size: 1.6rem;
                padding-right: 2.8rem;
                color: #fff;
                &:focus ~ label,
                &:valid ~ label {
                    top: -.5rem;
                    color: #ff0000;
                }
            }
            input.birth {
                width: 40%;
            }
            label {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-size: 1.6rem;
                font-weight: 500;
                color: #fff;
            }
            label.birth {
                left: 20%;
            }
            .input-file {
                display: none;
            }
        }
        &__gender-box {
            margin-top: 2rem;
            label {
                margin: 0 0 1rem .5rem;
                color: #fff;
                font-size: 1.6rem;
                font-weight: 400;
                margin-bottom: .8rem;
            }
            .gender {
                column-gap: .5rem;
                input {
                    accent-color: #ff0000;
                }
                label {
                    color: #fff;
                    font-size: 1.6rem;
                    font-weight: 500;
                }
            }
        }
        :where(.gender-option, .gender) {
            margin: .5rem 0 0 2rem;
            display: flex;
            align-items: center;
            column-gap: 5rem;
            flex-wrap: wrap;
        }
        :where(.gender input, .gender label) {
            cursor: pointer;
        }
    }
}