.slide {
    background: url('https://wallpapercave.com/wp/wp8997383.jpg') center (center/cover) no-repeat;
    min-height: 70vh;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    &__content {
        width: 60rem;
        span {
            font-size: 2rem;
            color: #ff0000;
            display: block;
        }
        h3 {
            font-size: 5rem;
            color: #fff;
            padding: 1rem 0;
        }
    }
}
.slide2 {
    background: url('https://i.pinimg.com/originals/33/41/b6/3341b652cae46cc6f6f09b284ecbe941.jpg') center (center/cover) no-repeat;
}
.slide3 {
    background: url('https://images2.alphacoders.com/696/thumb-1920-696022.jpg') center (center/cover) no-repeat;
}
.swiper-pagination-bullet {
    height: 2rem;
    width: 2rem;
    background: #fff;
    border-radius: 0;
    &.swiper-pagination-bullet-active {
        background: red;
    }
}